
@import "normalize.less";

* {
    box-sizing: border-box;
}

// helpers

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

// structure

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Droid Sans', Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}

// layout

.navigation {
    display: none;
}

.filters {
    display: none;
}

.ngdialog-overlay {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.ngdialog-content {
    position: relative;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    margin-top: 10%;
    padding: 1em;
}

.container {
    width: 100%;
    height: 100%;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chip {
    width: 100% / 3;
    margin: 1% 0 0 1%;
    height: 120px;
    list-style: none;
    border: solid 1px #333;
}

.chip--logo {
    display: flex;
    align-items: center;
    background: #666;
    color: #eee;
    h1 {
        width: 100%;
        text-align: center;
        line-height: 1rem;
        font-size: 1.5rem;
        em {
            display: block;
            font-size: 0.9rem;
        }
    }
}

.chip--sound {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border: solid 1px #333;
    border-width: 1px 1px 0;
}

.chip--name {
    display: block;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: solid 1px #333;
    border-left: 0;
    border-right: 0;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.soundlist {
    padding: 0;
}

.login {
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    background: #333;
}

.sound {
    width: 100%;
    border: solid 1px #333;
    border-width: 0 0 1px;
}

@media (min-width: 480px) {
    .chip {
        height: 150px;
        width: 100% / 4;
    }
    .chip--name {
        top: 149px;
    }
}

@media (min-width: 768px) {
    .chip {
        width: 100% / 5;
    }
}

@media (min-width: 1024px) {
    .chip {
        width: 100% / 8;
    }
}